<!-- index.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cool Green Baumrigloe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <div class="header">
    <a href="https://www.ost.ch/de/forschung-und-dienstleistungen/interdisziplinaere-themen/icai-interdisciplinary-center-for-artificial-intelligence"><img src="{{url_for('static', filename='icai_logo.png')}}" alt="plot" style="width:10%" class="logo"> </a>
    <a href="https://www.umtec.ch/index.php?id=4668"><img src="{{url_for('static', filename='umtec_logo.jpg')}}" alt="plot" style="width:10%" class="logo"> </a>
    <a href="https://www.ost.ch/de/"><img src="{{url_for('static', filename='ost_logo.jpg')}}" alt="plot" style="width:9%" class="logo"> </a>
    <div class="header-right">
      <a class="active" href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('plot') }}">Plot</a>
    </div>
  </div>
      
  <form class="form-inline" method="POST" action="{{ url_for('test') }}">
    <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon">Please select</span>
              <select name="file_select" class="selectpicker form-control">
                {% for o in data %}
                <option value="{{ o}}">{{ o }}</option>
                {% endfor %}
              </select>
      </div>
      <button type="submit" class="btn btn-default">Download</button>
    </div>
  </form>
  
</html>
