

<!-- emoji.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cool Green Baumrigloe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <div class="header">
    <a href="https://www.ost.ch/de/forschung-und-dienstleistungen/interdisziplinaere-themen/icai-interdisciplinary-center-for-artificial-intelligence"><img src="{{url_for('static', filename='icai_logo.png')}}" alt="plot" style="width:10%" class="logo"> </a>
    <a href="https://www.umtec.ch/index.php?id=4668"><img src="{{url_for('static', filename='umtec_logo.jpg')}}" alt="plot" style="width:10%" class="logo"> </a>
    <a href="https://www.ost.ch/de/"><img src="{{url_for('static', filename='ost_logo.jpg')}}" alt="plot" style="width:9%" class="logo"> </a>
    <div class="header-right">
      <a class="active" href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('show') }}">Show</a>
    </div>
  </div>

      <img src="{{url_for('static', filename='climavue.jpg')}}" alt="plot" style="width:100%">
      <img src="{{ url_for('static', filename=user_image ) }}" alt="plot" style="width:100%">


</body>
</html>
